a:hover{
    color: mediumvioletred;
}

a:active{
    color: yellow;
}

a:visited{
    color:darkgreen;
}

@media (min-width:768px) {
    
    .my_title {
        font-size: 60px;
    }
}

@media (max-width:768px) {
    
    .my_title {
        font-size: 20px;
        color: firebrick;
    }
}